
# Terraform
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/

# Local environment
.terraform.tfstate
.terraform.tfstate.backup

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
